# EcoSort Edge API Configuration
API_URL=https://ecosort-ai-nine.vercel.app/api/v1/trash-events
BIN_ID=smart_bin_01

# Model Configuration
MODEL_PATH=best_ncnn_model # ncnn para otimização
CONFIDENCE_THRESHOLD=0.6

# Hardware Configuration
CAMERA_INDEX=0
REQUEST_TIMEOUT=5